/* roboto-regular - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/media/fonts/roboto/roboto-v30-greek_latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/media/fonts/roboto/roboto-v30-greek_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/media/fonts/roboto/roboto-v30-greek_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/media/fonts/roboto/roboto-v30-greek_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/media/fonts/roboto/roboto-v30-greek_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/media/fonts/roboto/roboto-v30-greek_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* archivo-black-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: url('/media/fonts/archivo-black/archivo-black-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/media/fonts/archivo-black/archivo-black-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/media/fonts/archivo-black/archivo-black-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/media/fonts/archivo-black/archivo-black-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/media/fonts/archivo-black/archivo-black-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/media/fonts/archivo-black/archivo-black-v17-latin-regular.svg#ArchivoBlack') format('svg'); /* Legacy iOS */
}

.style-2023{
  h1 {
    font-family: 'Archivo Black';
  }
  h2 {
    font-family: 'Archivo Black';
  }
  h3 {
    font-family: 'Archivo Black';
  }
  h4 {
    font-family: 'Archivo Black';
  }
  h5 {
    font-family: 'Archivo Black';
  }
  h6 {
    font-family: 'Archivo Black';
  }

  p {
    font-family: Roboto;
  }
}

.button-2023 {
  background-color: var(--bs-body-color);
  color: var(--bs-body-bg);
  padding: 25px 75px;
  display: inline-block;
  border-radius: 5px;
}

.follow-2023 {
  background-color: var(--bs-body-color);
  border-radius: 25px;

  img {
    width: 48px;
    margin-left: .5rem;
    margin-right: .5rem;
    filter: brightness(0) invert(1);
  }
}

.follow-2023-text * {
  color: var(--bs-body-bg);
}

@media (prefers-color-scheme: dark) {
  .follow-2023 img {
    filter: brightness(1) invert(0);
  }
}

